body {
  background-color: black;
  font-family: 'Barlow Semi Condensed', Futura MdCn BT, AvenirNextCondensed-Italic, sans-serif;
  color: white;
  font-size: 60px;
  text-align: center;
  margin-top: 25px;
}

a {
  color: white;
}

a:hover {
  color: darken(inherit, 10%);
}

h1, h2, h3, strong, .theme10 {
  font-family: 'Barlow Semi Condensed', Futura XBlkCnIt BT, AvenirNextCondensed-HeavyItalic, sans-serif;
}

h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 140px;
}

h2, #arrows.small {
  font-size: 105px;
}

h3, .medium, #theme, .action {
  font-size: 84px;
}

.space {
  margin-bottom: 0.5em;
}

.no-space {
  margin-bottom: 0px;
}

.action-link, .hfire-link {
  color:white;
  text-decoration:none;
  cursor: pointer;
}

.hfire-link {
  padding: 20px;
}

.hfire-link:hover, .action-link:hover, .hub-list > .hfire-link.close:hover {
  text-decoration:underline;
}

.hfire-link.forward {
  font-weight:bold;
  color:hsl(200, 100%, 75%);
}

#trance {
  font-family: Neuropol, 'Michroma', AvenirNext-Heavy, 'Arial Black', sans-serif;
}

#stress, .stress {
  font-family: 'Barlow', Futura XBlkIt BT, AvenirNext-HeavyItalic, 'Arial Black', sans-serif;
  color: red;
}

#stress a {
  color: red;
}

.break-list {
  display:grid;
  grid-template-columns:auto auto;
}

.two-list {
  display:grid;
  grid-template-columns:1fr 1fr;
}

.three-list {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}

.four-list {
  display:grid;
  grid-template-columns:repeat(4, 1fr);
}

.hub-list {
  display:none;
  grid-template-columns:auto;
}

.hub-list > span {
  margin-bottom: 30px;
}

.hub-list > .hfire-link {
  font-weight:bold;
  padding: 0px;
  text-decoration: underline;
}

.hub-list > .hfire-link.close {
  color:red;
  text-decoration:none;
}

.small {
  font-size:45px;
}

#arrows {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.arrow {
  font-style:normal;
}

.theme1 {
  background-color: hsl(122, 30%, 32%);
  color: hsl(104, 22%, 87%);
}

.theme1 a {
  color: hsl(104, 22%, 87%);
}

.theme2 {
  background-color: hsl(227, 30%, 32%);
  color: hsl(209, 22%, 87%);
}

.theme2 a {
  color: hsl(209, 22%, 87%);
}

.theme3 {
  background-color: hsl(317, 30%, 32%);
  color: hsl(299, 22%, 87%);
}

.theme3 a {
  color: hsl(299, 22%, 87%);
}

.theme4 {
  background-color: hsl(47, 21%, 40%);
  color: hsl(29, 22%, 87%);
}

.theme4 a {
  color: hsl(29, 22%, 87%);
}

.theme5 {
  background-color: hsl(0, 0%, 32%);
  color: hsl(0, 0%, 87%);
}

.theme5 a {
  color: hsl(0, 0%, 87%);
}

@media only screen and (max-width: 1702px) {
  h1 {
    font-size: 100px;
  }
  h2, #arrows.small {
    font-size: 75px;
  }
  h3, .medium, #theme {
    font-size: 60px;
  }
  body {
    font-size:40px;
  }
  .small {
    font-size:30px;
  }
}

@media only screen and (max-width: 1135px) {
  h1 {
    font-size: 80px;
  }
  h2, #arrows.small {
    font-size: 60px;
  }
  h3, .medium, #theme {
    font-size: 45px;
  }
}

@media only screen and (max-width: 851px) {
  h1 {
    font-size: 60px;
  }
  h2, #arrows.small {
    font-size: 44px;
  }
  h3, .medium, #theme {
    font-size: 36px;
  }
  body, .small {
    font-size: 30px;
  }
}

@media only screen and (max-width: 567px) {
  h1 {
    font-size: 40px;
  }
  h2, #arrows.small {
    font-size: 30px;
  }
  h3, .medium, #theme {
    font-size: 25px;
  }
  body, .small {
    font-size: 20px;
  }
  @media only screen and (max-width: 413px) {
    .three-list, .four-list {
      display:grid;
      grid-template-columns:1fr 1fr;
    }
  }
}
